# Data Science Tools and Ecosystem

In this notebook, we are going ti summarize Data Science Tools and Ecosystem

Objectives:
1. To gain knowledge basics in jupyter nootbook
2. To Revise the learning of 
3. To Learn about tools used in Data science

Items covered in this nootbook:
* List of popular languages for data science
* List of libraries used in data science
* List of data science tools

some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. matplotlib
3. scikit_learn
4. tensorflow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Google Colab |
| Rstudio |

### Below are few examples of evaluating arithmetic expression in Python.

In [1]:
# this is a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(f"there is {hours} hours in {minutes} minutes ")

there is 3.3333333333333335 hours in 200 minutes

## Author
Umesh Dangal